<ul class="icons">
  <li><a href="https://www.instagram.com" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  <li><a href="https://www.facebook.com" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  <li><a href="https://github.com" class="icon fa-github"><span class="label">Github</span></a></li>
  <li><a href="https://www.linkedin.com" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
  <li><a href="https://www.gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
</ul>  
<p class="copyright">&copy; 2019 Books API</p>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script src="../../js/menu.js"></script>