<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
  <title>ERROR</title>
</head>
<body class="flex-column">

  <header>
    <% include ../../partials/header %>
    <h2>ERROR</h2>
  </header>

  <main class="flex-column">
    <h1>500 - Server error</h1>
    <p> <%= data %> </p>
  </main>
  
  <footer>
    <% include ../../partials/footer %>
  </footer>
</body>
</html>