<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
  <title>ERROR</title>
</head>

<body class="flex-column">
  <header>
    <% include ../../partials/header %>
    <h2>ERROR</h2>
  </header>
  
  <h1>404 - Page not found</h1>
  
  <footer>
    <% include ../../partials/footer %>
  </footer>
</body>
</html>