<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <title>Books API</title>
</head>
<body>
  <header>
    <% include ../partials/header %>
    <h2>Saved <%= sqlResults.length %> Books</h2>
  </header>
  <main>
    <section class="books">
      <% if(sqlResults) { %>
        <% sqlResults.forEach( book => { %>
          <%- include('./books/detail', {show: false, book: book} ) %>
        <% }); %>
      <% } else { %>
        <div class="flex-column">
          <h3> No books with <%= searchType %> <%= searchCriteria %> found. Please refine search criteria and <a href="./">try again</a> </h3>
        </div>
      <% }; %>
    </section>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>