@import url('https://fonts.googleapis.com/css?family=Kavivanar|Lato&display=swap');
body {
  width: 100%;
  margin: 0 auto;
  background: #9c9c9c;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  width: 100%;
  background: black;
  color: white;
}

/* HEADER START */
header {
  height: 3rem;
  margin-bottom: 3rem;
}

#ham-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18pt;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 2rem 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
}

nav * {
  color: white;
  text-decoration: none;
}
/* HEADER END */

footer {
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

@media(min-width: 960px) {
  main {
    width: 800px;
    margin: 0 auto;
  }

  fieldset, form {
    width: 800px;
  }
}