@import url('https://fonts.googleapis.com/css?family=Kavivanar|Lato&display=swap');
body {
  width: 100%;
  margin: 0 auto;
  background: #9c9c9c;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  width: 100%;
  background: black;
  color: white;
  position: fixed;
  left: 0;
}

footer {
  height: 3rem;
  bottom: 0;
}

main {
  margin-top: 7rem;
}

@media(min-width: 960px) {
  main {
    width: 800px;
    margin: 7rem auto 4rem auto;
  }

  .book {
    max-width: 800px;
    margin: 2rem auto;
  }
}