header > h1 {
  padding: 1rem;
}
header > h1 > a {
  color: white;
  text-decoration: none;
}

h2 {
  height: 2rem;
  line-height: 2rem;
  background: #494949;
  color: white;
  text-align: center;
}
