/* HEADER START */
header {
  min-height: 3rem;
  margin-bottom: 3rem;
}

header > h1 {
  padding: 1rem;
  background: black;
  color: white;
}
header > h1 > a {
  color: white;
}

#ham-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 18pt;
  color: white;
}

nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem 0;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

nav * {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
}
/* HEADER END */


h2 {
  min-height: 2rem;
  line-height: 2rem;
  background: #494949;
  color: white;
  text-align: center;
}